*, *::before, *::after {
    margin:0;
    padding:0;
    box-sizing: border-box;

    font-family: fortnite;
    overflow: hidden;
}

body {
    background:   linear-gradient(200deg, rgba(77, 17, 102, 1), rgba(53, 57, 146, 1)),
                        linear-gradient(200deg, rgba(53, 57, 146, 1), rgba(53, 57, 146, 0.05));

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container1 {
    width: 25vw;
    height: 95vh;
    margin-bottom: 5%;

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
/*h2*/
    text-align: left;
    font-size: 3rem;
    color: #fff;
}
    #loadContainer {
        width: 58.5%;
        height: auto;
        
    }

main {
    width:50vw;
    height: 99vh;
    padding-bottom: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*h1*/
h1 {
    color: #fff;
    font-size: 6rem;
}
/*h4*/
h4 {
    color: #00FFFD;
    letter-spacing: .1rem;
    text-shadow: #000 0px 0 3px;
    font-size: 2rem;
}
#container2 {
    width: 25vw;
    height: 99vh;
    margin-top: 2%;
    

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
    #eaContainer {
        width: 50%;
        padding-top: 10%;
        padding-bottom: 10%;
        border-radius:5%;
        /*h3*/
        
        font-size: 1.5rem;
        background-color: #FFE500;
        color: #000;
    }
    #eaContainer:hover {
        background-color: #fff;
        
        box-shadow: #000 0px 0px 15px;
    }
    

@font-face {
    font-family: fortnite;
    src: url(/assets/fortnite/fortnite.otf);
}